<% title "Post" %>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<%= render @comments %>

<%= form_for [@post, @comment] do |f| %>
  <%= f.text_area :content, :cols => 30, :rows => 5 %>
  <div>
    <%= f.button 'Comment' %>
  </div>
<% end %>

<p>
  <%= link_to "View All", posts_path %>
</p>
