<% title "Post" %>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<%= render @comments %>

<% if user_signed_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <%= f.text_area :content, :cols => 30, :rows => 5 %>
    <div class='form-actions'>
      <%= f.button 'Comment', :class => 'btn' %>
    </div>
  <% end %>
<% else %>
  <%= link_to "Sign in with Facebook", '#', :id => 'facebook-login' %>
<% end %>

<p>
  <%= link_to "View All", posts_path %>
</p>
